
nav{
    font-family: "Tenali Ramakrishna", serif;
    position: absolute; 
    top: 10px; 
    right: 10px;
    
}
/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header p{
    font-family: "Ysabeau Infant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Body styling */
body {
    /*font-family: Arial, sans-serif;*/
    background: linear-gradient(to right, #3c6bc9, #279b4a);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

/* Header styling */
header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

p {
    font-size: 1.2rem;
    color: #555;
}

.collage-container {
    column-count: 3; /* Number of columns */
    column-gap: 8px; /* Gap between columns */
    width: 50%;
    max-width: 800px;
}

.collage-item {
    display: inline-block;
    margin-bottom: 8px; /* Gap between items vertically */
    width: 100%;
    break-inside: avoid; /* Prevents images from splitting across columns */
}

.gallery-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.collage-item:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Font styles for cycling */
.font-1 { font-family: "Rubik", serif; }
.font-2 { font-family: "Questrial", serif; }
.font-3 { font-family: "Tenali Ramakrishna", serif; }
